[submodule "lib/common_cpp"]
	path = lib/common_cpp
	url = https://github.com/jerelbn/common_cpp.git
[submodule "lib/geometry"]
	path = lib/geometry
	url = https://github.com/superjax/geometry.git
[submodule "lib/lin_alg_tools"]
	path = lib/lin_alg_tools
	url = https://github.com/jerelbn/lin_alg_tools.git
[submodule "lib/pb-vi-ekf"]
	path = lib/pb-vi-ekf
	url = https://github.com/jerelbn/pb-vi-ekf.git
[submodule "lib/yamlmatlab"]
	path = lib/yamlmatlab
	url = https://github.com/jerelbn/yamlmatlab.git
